<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th># Wins</th>
      <th># Losses</th>
      <th>Rating</th>
      <th>Tagline/Bio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.wins %></td>
        <td><%= user.losses %></td>
        <td><%= user.rating %></td>
        <td><%= user.bio %></td>
        <% if is?(user) %>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
