<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong># Wins:</strong>
  <%= @user.wins %>
</p>

<p>
  <strong># Losses:</strong>
  <%= @user.losses %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @user.rating %>
</p>

<p>
  <strong>Tagline/Bio:</strong>
  <%= @user.bio %>
</p>

<% if is?(@user) %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Delete User', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
