<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :white_player_id %><br>
    <%= f.text_field :white_player_id %>
  </div>
  <div class="field">
    <%= f.label :black_player_id %><br>
    <%= f.text_field :black_player_id %>
  </div>
  <div class="field">
    <%= f.label :game_state %><br>
    <%= f.text_area :game_state %>
  </div>
  <div class="field">
    <%= f.label :allow_undos %><br>
    <%= f.check_box :allow_undos %>
  </div>
  <div class="field">
    <%= f.label :sandbox_mode %><br>
    <%= f.check_box :sandbox_mode %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
