<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Play as' %><br>
    <%= f.select :play_as, options_for_select([['White', 1], ['Black', 2]], 1 ) %>
  </div>
  <div class="field" display="none">
    <%= f.text_field :opponent_id, value: @opponent_id %>
  </div>
  <div class="field">
    <%= f.label :'Starting State' %><br>
    <%= f.text_area :game_state %>
  </div>
  <div class="field">
    <%= f.label :allow_undos %><br>
    <%= f.check_box :allow_undos, { checked: true } %>
  </div>
  <div class="field">
    <%= f.label :sandbox_mode %><br>
    <%= f.check_box :sandbox_mode %>
  </div>
  <div class="actions">
    <%= f.submit 'Begin game' %>
  </div>
<% end %>
